.apoio__lista {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em;
}

.apoio__item {
    margin: 1em 0;
}

.apoio__link img{
    width: 40vw;
}

.responsabilidade {
    display: flex;
    flex-direction: column;
}

.responsabilidade__texto span {
    font-weight: 600;
}

.responsabilidade__link{
    text-align: center;
}

.responsabilidade__link img{
    width: 80vw;
}

@media screen and (min-width: 1024px) {
    .apoio, .responsabilidade {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .apoio__texto {
        width: 70vw;
    }

    .apoio__lista {
        width: 60vw;
    }

    .apoio__link img{
        width: 25vw;
    }

    .apoio__link img:hover {
        width: 28vw;
    }

    .responsabilidade__texto {
        width: 70vw;
    }

    .responsabilidade__link img {
        width: 60vw;
    }
}