.banner {
    align-items: center;
    background: var(--azul-degrade);
    color: var(--branco);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2.5em 2em;
}

.banner__titulo {
    font-size: 18px;
    font-weight: 700;
}

.banner__texto {
    font-weight: 500;
    margin: 1em 0;
}

.btn__whatsapp {
    align-items: center;
    background-color: var(--verde);
    border: none;
    border-radius: 15px;
    color: var(--branco);
    display: flex;
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    justify-content: center;
    letter-spacing: 1px;
    padding: 1em;
    text-align: center;
    text-transform: uppercase;
    width: 50vw;
}

.btn__icone {
    font-size: 30px;
    margin-right: .5em;
}

@media screen and (min-width: 768px) {
    .banner__titulo {
        font-size: 30px;
    }

    .btn__whatsapp {
        margin-top: 2em;
        width: 30vw;
    }
}