.cabecalho {
    align-items: center;
    background: #ffffff;
    border-bottom: solid 1px #d7d7d7;
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    padding: 10px;
    position: fixed;
    width: 100vw;
}

.logo__imagem {
    width: 70px;
}

#check__burguer {
    display: none;
}

.menu__lista {
    display: flex;
}

.menu__item {
    margin-left: 20px;
}

.menu__link {
    font-size: 20px;
    padding: 5px;
}

.menu__link:hover {
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: 0 0 10px #00ffea;
    font-size: 22px;
}