.carrosel__titulo {
    background-color: var(--branco);
    color: var(--azul);
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 .5em 0;
    text-align: center;
    text-transform: uppercase;
}

.swiper {
    text-align: center;
}

.swiper-slide img {
    width: 90vw;
    height: 280px;
    margin-bottom: .5rem;
}

.slide__titulo {
    color: var(--azul);
    margin: .5em 0;
    text-transform: uppercase;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: .5em 0;
}

@media screen and (min-width: 1024px) {
    .swiper {
        margin: 1em 0;
    }

    .slide__titulo {
        font-size: 18px;
    }

    .swiper-slide img {
        width: 70vw;
    }
}