.ongsQueAjudamos {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.ongsQueAjudamos__titulo {
    margin-top: 1em;
    width: 100vw;
}

.ongsQueAjudamos__lista {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.ongsQueAjudamos__link--imagem {
    border-radius: 1em;
    box-shadow: 0 0 1em var(--azul);
    height: 4em;
    margin: 1em;
    padding: .1em;
    width: 4em;
 }

  /* Estilização da div voluntario */

.voluntario__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.voluntario__imagem {
    box-shadow: 0 0 .5em var(--azul);
    border-radius: .5em;
    margin: 1em 0;
    width: 90vw;
}

 /* Estilização da div arrecadacoes */

 .arrecadacoes {
    width: 100vw;
    text-align: center;
}

.arrecadacoes__imagem {
    width: 80vw;
    margin: .5em 0;
}

/* Estilização da div numeros */

.numeros {
    width: 100vw;
}

.numeros__lista {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.numeros__item {
    align-items: center;
    background-color: var(--branco);
    border: 2px solid var(--azul);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    height: 70vw;
    justify-content: center;
    margin: .5em 0;
    padding: 1em;
    width: 70vw;
}

.item__destaque {
    align-items: center;
    background: var(--azul-degrade);
    border-radius: 100px;
    box-shadow: 0 0 1em var(--azul);
    display: flex;
    flex-direction: column;
    height: 6em;
    justify-content: center;
    margin: 0 auto;
    padding: 1em;
    text-align: center;
}

.item__destaque--titulo {
    color: var(--branco);
    font-size: 30px;
    font-weight: 600;
    overflow: hidden;
}

.animacao {
    animation: digitando 3s 3s normal both;
}

@keyframes digitando {
    from {
        width: 0;
    }
    to {
        width: 90px;
    }
}

.item__destaque--titulo span {
    font-size: initial;
    text-transform: uppercase;
    font-weight: 400;
}

.item__descricao {
    font-weight: 500;
    margin: 1em 0;
    text-align: center;
    width: 50vw;
}

@media screen and (min-width: 768px) {
    .ongsQueAjudamos {
        margin: 2em 20vw;
    }

    .numeros__item {
        height: 50vw;
        width: 50vw;
    }
}