.rodape {
    align-items: center;
    background: var(--azul-degrade);
    color: var(--branco);
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    padding: .5em .5em 0 .5em;
    text-align: center;
}

.rodape__conteudo {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    margin: 1em 0;
    width: 100%;
}

.rodape__lista li:nth-child(4) {
    margin-right: 0;
}

.rodape__imagem {
    filter: drop-shadow(0 0 .5em var(--branco));
    height: 5em;
    width: 5em;
}

.rodape__item {
    margin-right: 2em;
}

.rodape__link img{
    filter: drop-shadow(0 0 .5em var(--branco));
    height: 30px;
    width: 30px;
}

.rodape__texto {
    font-size: 12px;
    margin: 1em 0;
}

.rodape__texto a{
    font-weight: 600;
    letter-spacing: 1px;
}