@import url("header.css");
@import url("banner.css");
@import url("agenda.css");
@import url("carrosel.css");
@import url("quemSomos.css");
@import url("comoFunciona.css");
@import url("viajeMais.css");
@import url("ongsQueAjudamos.css");

:root{
    --azul: #3a81ba;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --branco: #FFFFFF;
    --cor-de-fundo: #EBECEE;
    --fonte-principal: "Poppins";
    --verde: #34af23;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.titulo {
    background-color: var(--branco);
    color: var(--azul);
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 .5em 0;
    text-align: center;
    text-transform: uppercase;
}

.texto {
    letter-spacing: 1px;
    line-height: 30px;
    padding: 1em 1em;
    text-align: initial;
}