@import url("header.css");
@import url("banner.css");
@import url("agenda.css");
@import url("carrosel.css");
@import url("quemSomos.css");
@import url("comoFunciona.css");
@import url("viajeMais.css");
@import url("ongsQueAjudamos.css");
@import url("premiosReconhecimentos.css");
@import url("apoioResponsabilidade.css");
@import url("depoimentos.css");
@import url("time.css");
@import url("rodape.css");

:root{
    --azul: #3a81ba;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --branco: #FFFFFF;
    --cor-de-fundo: #EBECEE;
    --fonte-principal: "Poppins";
    --verde: #34af23;
    --vinho: #8c0000;
    --coral: #f08080;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.titulo {
    background-color: var(--branco);
    color: var(--azul);
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 .5em 0;
    text-align: center;
    text-transform: uppercase;
}

.texto {
    letter-spacing: 1px;
    line-height: 30px;
    padding: 1em 1em;
    text-align: initial;
}

.btn__whatsapp--fixo {
    filter: drop-shadow(0 0 1em var(--verde));
    justify-content: end;
    position: fixed;
    top: 75%;
    right: 3%;
    z-index: 999;
}

.btn__whatsapp--fixo a img{
    animation: pulsar 0.8s ease-out 1s infinite alternate none running;
    width: 70px;
}

/* animação do botão btn__whatsapp--fixo */

@keyframes pulsar {
    0% {
        width: 60px;
    }
    100% {
        width: 80px;
    }
}