.viajeMais {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.viajeMais__titulo {
    margin-bottom: 1em;
}

.viajeMais__titulo span {
    color: #ff0000;
}

.viajeMais__imagem {
    width: 90vw;
}

.viajeMais img:nth-child(2) {
    margin-bottom: 1em;
}

.viajeMais__titulo span:nth-child(3) {
    font-size: 28px;
}

.viajeMais__lista {
    display: flex;
}

.viajeMais__link {
    color: var(--azul);
    font-size: 40px;
}

.fa-square-facebook{
    margin: 0 1em;
}

.fa-square-whatsapp {
    margin-right: 1em;
}

 /* Estilização da div seguranca */

.seguranca {
    margin: 1em 0;
}

.seguranca__imagem--principal {
    margin-bottom: 1em;
    width: 90vw;
}

.seguranca__lista {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: .5em 0;
}

.seguranca__item:nth-child(3), .seguranca__item:nth-child(4) {
    margin-top: 1em;
}

.seguranca__imagem {
    box-shadow: 0 0 .5em var(--azul);
    border-radius: .5em;
    height: 40vw;
    width: 40vw;
}

@media screen and (min-width: 768px) {
    .seguranca {
        align-items: center;
    }

    .seguranca__texto {
        margin: 0 5vw;
    }

    .viajeMais__titulo {
        width: 100vw;
    }
}

@media screen and (min-width: 1024px) {
    .viajeMais__imagem {
        width: 60vw;
        margin-bottom: 1em;
    }

    .viajeMais__link {
        font-size: 70px;
    }

    .viajeMais__link:hover {
        font-size: 80px;
    }

    .seguranca__imagem--principal {
        width: 60vw;
    }

    .seguranca__lista {
        margin: 0 20vw;
    }

    .seguranca__item {
        padding: 1em;
    }

    .seguranca__imagem {
        height: 25vw;
        width: 25vw;
    }

    .btn__whatsapp {
        font-size: 20px;
        width: 20vw;
    }

    .btn__whatsapp:hover {
        padding: 1.5em;
    }
}