.viajeMais {
    text-align: center;
}

.viajeMais__titulo {
    margin-bottom: 1em;
}

.viajeMais__titulo span {
    color: #ff0000;
}

.viajeMais__imagem {
    width: 90vw;
}

.viajeMais img:nth-child(2) {
    margin-bottom: 1em;
}

.viajeMais__titulo span:nth-child(3) {
    font-size: 28px;
}

.viajeMais__link {
    color: var(--azul);
    font-size: 40px;
}

.fa-square-facebook{
    margin: 0 1em;
}

.fa-square-whatsapp {
    margin-right: 1em;
}